# /etc/systemd/system/peercoind.service
# /usr/bin/
# sudo systemctl enable peercoind
# sudo systemctl start peercoind 
# sudo systemctl status peercoind 
# TODO, add pid file to track.

[Unit]
Description=Peercoin daemon
After=network.target 
#Conflicts=peercoind-tor@%i.service 
Conflicts=peercoind-tor.service

[Service]
#User=%i 
#Group=users 
User=ubuntu
Group=ubuntu
Type=forking
Restart=always
RestartSec=15
ExecStart=/usr/bin/peercoind -daemon -datadir=/home/ubuntu/.peercoin -conf=/home/ubuntu/.peercoin/peercoin.conf
TimeoutStopSec=60s
TimeoutStartSec=2s

## security
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
